
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');


*{
    content: "";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: 827fr 693fr;
    grid-template-rows: 620fr 230fr 230fr;
    margin: 60px 200px;
    height: 90vh;
}

section{border: 4px solid black;}

section > article >h1,
section > article >p{display: inline;}

#hibox{
    display: inline;
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}
#basicbox{
    display: inline;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#dobblebox{
    display: inline;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#gooddaybox{
    display: inline;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

/* 그리드 위치 선정 끝 */
/* 세부 터치 시작 */

#hibox{position: relative;}
#hibox > article{margin: 120px 0 0 20px; color: black;}
#hibox > article > h1{font-size: 120px}
.bangab{position: absolute; top: 290px; left: 20px;}
.webjiintake{font-size: 28px; font-weight: 700; position: absolute; top: 480px; left: 28px;}

/* 첫번째 섹션 완료 */
/* 두번째 섹션 시작 */

#basicbox{position: relative;}
#basicbox article .basictake{position: absolute; bottom: 20px; right: 20px; font-weight: 400; font-size: 28px;}

/* 두번째 섹션 완료 */
/* 세번째 섹션 시작 */

#dobblebox > .hafe-box{position: relative;}

#dobblebox > .hafe-box > .black{
    position: absolute;
    background-color: #151515;
    height: 19vh;
    width: 50%;
}

#dobblebox > .hafe-box > .black p{position: absolute; top: 45%; left: 250px; font-size: 28px; font-weight: 700; color: white;}


#dobblebox > .hafe-box > .white{
    position: absolute;
    top: 0;
    right: 0;
    height: 19vh;
    width: 50%;
}


#dobblebox > .hafe-box > .white P{position: absolute; top: 45%; right: 200px; font-size: 28px; font-weight: 700; color: black;}

/* 세번째 섹션 끝 */
/* 네번째 섹션 시작 */

#gooddaybox{display: table;}
#gooddaybox article{display: table-cell; text-align: center; vertical-align: middle;}

#gooddaybox article p{font-weight: 700; font-size: 30px;}